body {
    background: #fff;
    font-family: "Helvetica Neue";
    margin: 0; padding: 0;
}

.wrapper {
    max-width: 80%;
    margin: 15vh auto;
}

img {
    max-width: 45%;
    margin: auto;
    display: block;
}

p {
    text-align: center;
}

a {font-weight: bold; text-decoration: underline;}
a:hover {text-decoration: none;}

footer {
    margin-top: 20vh;
    padding: 55px;
    background-color: lightgrey;
}